<h1 style="text-align:center; font-size:36px;">
HR Insights: Tracking Workforce Trends</h1>


***Project Overview***



***```Domain```***:Human Resources Analytics / Workforce Analytics

***```Objective```***

The objective of this project is to analyze employee demographic characteristics, job roles, compensation structure, work experience, and satisfaction levels to identify the key factors influencing employee attrition. The analysis focuses on understanding behavioral and organizational patterns that distinguish employees who leave the organization from those who remain, supporting data-driven retention strategies.

***```Business Problem```***:

Employee turnover poses a significant challenge for organizations. High attrition rates lead to increased recruitment and training costs, loss of experienced talent, reduced productivity, and disruptions in team stability. Many organizations lack clear insights into the underlying factors that contribute to employee dissatisfaction and voluntary exits.

- By identifying the drivers of employee attrition, organizations can:

- Improve employee engagement and job satisfaction

- Design effective and targeted retention strategies

- Optimize compensation, career progression, and work-life balance initiatives

- Reduce operational costs associated with frequent hiring

- This project applies exploratory data analysis (EDA) techniques to uncover patterns and trends in employee data that explain attrition behavior and support proactive HR decision-making.

***```Dataset Description```***:

The analysis is conducted using the HR Insights: Tracking Workforce Trends Dataset, which contains detailed employee-level data from a corporate environment.

- Key Characteristics of the Dataset:

- Total Records: 23530

- Total Features: 35

- Data Type: Structured, tabular dataset

- Target Variable: Attrition (Yes / No)

<h1 style="font-size:22px;">PHASE 1: DATA LOADING & INITIAL OVERVIEW</h1>


```EXECUTIVE SUMMARY```

Data loading and initial overview is used to import the dataset and understand its basic structure, size, and variables. This phase helps identify data types, missing values, and overall data composition, providing a foundation for further cleaning and analysis.

```PHASE 1: DATA LOADING & INITIAL OVERVIEW – SUMMARY```

This phase focuses on loading the HR dataset and understanding its structure and basic characteristics.

Using:

- Data loading techniques

- Dataset shape and dimension checks

- Data type inspection

- Initial data preview (head & tail)

- Basic descriptive statistics

this phase provides a high-level understanding of the dataset and identifies potential data quality issues to guide further cleaning and analysis.

>STEP 1: IMPORT NECESSARY LIBRARIES

Objective: Load essential Python libraries required for data handling and inspection.

In [1]:
import pandas as pd

In [2]:
import numpy as np


>STEP 2: LOAD THE DATASET

***2.1 Data Source and Loading***

Data Source:

The dataset used in this analysis is the HR Insights: Tracking Workforce Trends Dataset (extended version) available on Kaggle.

***Source Link***:
https://www.kaggle.com/datasets/dgokeeffe/ibm-hr-wmore-rows

This dataset contains HR records for employees across various departments and roles, with a focus on understanding attrition patterns.

***Dataset Description***

HR Insights: Tracking Workforce Trends dataset includes detailed information for a large number of employees, capturing demographic, job, compensation, performance, and engagement-related attributes. It is widely used for analyzing factors that contribute to employee attrition.

***Loading Objectives***

- The goal of this step is to import the dataset and perform an initial overview to understand its structure before detailed analysis. The objectives include:

- Identifying the total number of records (rows) — representing employees in the dataset

- Determining the total number of features (columns) — representing employee attributes

- Reviewing column names and data types

- Assessing the general completeness and structure of the dataset

In [3]:
data = pd.read_csv("IBM_HR_Data.csv", low_memory=False)

>STEP 3: DATA TYPE INSPECTION

Objective: Understand the data types and identify potential issues

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23530 entries, 0 to 23529
Data columns (total 37 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       23527 non-null  float64
 1   Attrition                 23517 non-null  object
 2   BusinessTravel            23522 non-null  object
 3   DailyRate                 23519 non-null  float64
 4   Department                23519 non-null  object
 5   DistanceFromHome          23521 non-null  float64
 6   Education                 23518 non-null  float64
 7   EducationField            23521 non-null  object
 8   EmployeeCount             23525 non-null  float64
 9   EmployeeNumber            23530 non-null  object
 10  Application ID            23527 non-null  object
 11  EnvironmentSatisfaction   23521 non-null  float64
 12  Gender                    23520 non-null  object
 13  HourlyRate                23521 non-null  float64
 14  JobInvolvement            23521 non-null  float64
 15  JobLevel                  23523 non-null  float64
 16  JobRole                   23521 non-null  object
 17  JobSatisfaction           23521 non-null  float64
 18  MaritalStatus             23519 non-null  object
 19  MonthlyIncome             23516 non-null  float64
 20  MonthlyRate               23519 non-null  float64
 21  NumCompaniesWorked        23521 non-null  float64
 22  Over18                    23520 non-null  object
 23  OverTime                  23518 non-null  object
 24  PercentSalaryHike         23516 non-null  float64
 25  PerformanceRating         23520 non-null  float64
 26  RelationshipSatisfaction  23522 non-null  float64
 27  StandardHours             23520 non-null  float64
 28  StockOptionLevel          23521 non-null  float64
 29  TotalWorkingYears         23522 non-null  float64
 30  TrainingTimesLastYear     23519 non-null  float64
 31  WorkLifeBalance           23520 non-null  float64
 32  YearsAtCompany            23517 non-null  float64
 33  YearsInCurrentRole        23515 non-null  float64
 34  YearsSinceLastPromotion   23519 non-null  float64
 35  YearsWithCurrManager      23523 non-null  float64
 36  Employee Source           23518 non-null  object
dtypes: float64(25), object(12)
memory usage: 6.6+ MB

Insight:

- Reveals column data types
- Highlights missing values
- Identifies columns requiring type conversion

>STEP 4: DATASET DIMENSIONS

Objective: Identify the size of the dataset.

In [5]:
print("shape:",data.shape)

shape: (23530, 37)

Insight:

- Displays the total number of rows and columns
- Helps assess whether the dataset meets minimum project requirements

>STEP 5: PREVIEW DATA RECORDS

Objective: Examine sample records to understand variable content.

In [6]:
display(data.head(5))

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Employee Source
0,41.0,Voluntary Resignation,Travel_Rarely,1102.0,Sales,1.0,2.0,Life Sciences,1.0,1,...,80.0,0.0,8.0,0.0,1.0,6.0,4.0,0.0,5.0,Referral
1,37.0,Voluntary Resignation,Travel_Rarely,807.0,Human Resources,6.0,4.0,Human Resources,1.0,1,...,80.0,0.0,8.0,0.0,1.0,6.0,4.0,0.0,5.0,Referral
2,41.0,Voluntary Resignation,Travel_Rarely,1102.0,Sales,1.0,2.0,Life Sciences,1.0,1,...,80.0,0.0,8.0,0.0,1.0,6.0,4.0,0.0,5.0,Referral
3,37.0,Voluntary Resignation,Travel_Rarely,807.0,Human Resources,6.0,4.0,Marketing,1.0,4,...,80.0,0.0,8.0,0.0,1.0,6.0,4.0,0.0,5.0,Referral
4,37.0,Voluntary Resignation,Travel_Rarely,807.0,Human Resources,6.0,4.0,Human Resources,1.0,5,...,80.0,0.0,8.0,0.0,1.0,6.0,4.0,0.0,5.0,Referral

Insight:

- Confirms correct data loading
- Helps spot obvious anomalies or formatting issues

>STEP 6: INITIAL STATISTICAL OVERVIEW

Objective: Generate basic descriptive statistics.

In [7]:
display(data.describe(include='all'))

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Employee Source
count,23527.000000,23517,23522,23519.000000,23519,23521.000000,23518.000000,23521,23525.0,23530,...,23520.0,23521.000000,23522.000000,23519.000000,23520.000000,23517.000000,23515.000000,23519.000000,23523.000000,23518
unique,NaN,3,3,NaN,3,NaN,NaN,7,NaN,23462,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10
top,NaN,Current employee,Travel_Rarely,NaN,Research & Development,NaN,NaN,Life Sciences,NaN,23244,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Company Website
freq,NaN,19712,16700,NaN,15349,NaN,NaN,9725,NaN,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5428
mean,36.914354,NaN,NaN,802.168375,NaN,9.193019,2.910962,NaN,1.0,NaN,...,80.0,0.791548,11.263200,2.796973,2.761437,7.006081,4.225048,2.179642,4.122136,NaN
std,9.130563,NaN,NaN,403.198769,NaN,8.098043,1.023755,NaN,0.0,NaN,...,0.0,0.850294,7.785116,1.289328,0.705991,6.132420,3.624251,3.213205,3.573170,NaN
min,18.000000,NaN,NaN,102.000000,NaN,1.000000,1.000000,NaN,1.0,NaN,...,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,NaN
25%,30.000000,NaN,NaN,465.000000,NaN,2.000000,2.000000,NaN,1.0,NaN,...,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000,NaN
50%,36.000000,NaN,NaN,802.000000,NaN,7.000000,3.000000,NaN,1.0,NaN,...,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000,NaN
75%,43.000000,NaN,NaN,1157.000000,NaN,14.000000,4.000000,NaN,1.0,NaN,...,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000,NaN
max,60.000000,NaN,NaN,1499.000000,NaN,29.000000,5.000000,NaN,1.0,NaN,...,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000,NaN

Insight:

- Summarizes numerical and categorical variables
- Identifies outliers, ranges, and distributions
- Highlights missing or unusual values